
/* BODY*/

* {
    box-sizing: border-box;
    font-family: 'Raleway', 'sans-serif';
}

body {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

/* HEADER */

.header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.header_ctn_img {
    width: 60%;
}

.header_ctn_menu {
    width: 40%;
}

.menu_list {
    display: flex;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.menu_list_item {
    width: 50%;
    text-align: center;
    border-top: 3px solid transparent;
}

.menu_list_item.active {
    color: #0065fc;
    border-top-color: #0065fc;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.menu_list_item a {
    padding: 32px;   
    display: block;
}


.menu_list_item:hover {
    color: #0065fc;
    border-top-color: #0065fc;
    cursor: pointer;
}



@media (max-width: 768px) {
    .header_ctn_img,
    .header_ctn_menu {
        width: 100%;
    }

    .header_img {
        display: block;
        margin: auto;
    }

    .menu_list_item.active {
        border-bottom: 3px solid #0065fc;
    }

    .menu_list_item {
        border-top: none;
        border-bottom: 3px solid #f2f2f2;
    }

    .menu_list_item:hover {
        border-bottom-color:#0065fc;
        
    }

}

/* BODY */

.padding_0_2 {
    padding: 0 32px;
}

/* SEARCH FORM */

.search_form {
    display: flex;
    margin-bottom: 16px;
}

.search_form i {
    padding: 16px 16.8px;
    background-color: #0065fc;
    color: #f2f2f2;
    border-radius: 16px 0 0 16px;
}

.search_form input {
    padding-right: 48px;
    border: 1px solid #f2f2f2;
    flex-basis: 256px;
}

.search_form input::placeholder {
    color: black;
    font-weight: bold;
}

.search_form button {
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    border-radius: 0 16px 16px 0;
    padding: 0 16px;
    border: none;
    cursor: pointer;
}

.fa-magnifying-glass {
    display: none;
}

/* RESPONSIVE SEARCH FORM */

@media (max-width: 768px) {
    .search_text {
        display: none;
    }

    .fa-magnifying-glass {
        display: inline;
        background-color: #0065fc;
        color: white;
    }
    
}

/* FILTERS */

.filter {
    border: 1px solid lightgrey;
    border-radius: 40px;
}

.filters_list {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.filter_list h1 {
    margin-bottom: 0;
}
.filter .fas {
    color:#0065fc;
    background-color: lightblue;
    padding: 16px;
    border-radius: 50%;
}

.fas.fa-child {
    color:#0065fc;
    background-color: lightblue;
    padding: 16px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.far.fa-heart {
    color:#0065fc;
    background-color: lightblue;
    padding: 16px;
    border-radius: 50%;
}


.filter span {
    font-weight: bold;
    padding: 16px;

}

@media (max-width: 768px) {
    .filter {
        flex-direction: column;
        align-items: flex-start;
    }
}


/* MESSAGE RESULT */

.message_result {
    display: flex;
    align-items: center ;
    gap: 16px;
}

.message_result .fas {
    color: #0065fc;
    width: 32px;
    height: 32px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .message_result {
        display: flex;
    }
}

/* HOTEL LIST */

.hotel_ctn {
    display: flex;
    gap: 16px;
}

.hotel_ctn > div {
    background-color: #f2f2f2;
    padding: 16px;
    border-radius: 16px;
}

.hotel_ctn .city {
    flex-basis: 65%;
}

.hotel_ctn .city a {
    font-weight: bold;
}

.hotel_ctn .popular {
    flex-basis: 35%;
}


@media (max-width: 768px) {
    .hotel_ctn {
        flex-direction: column-reverse;
    }
}


/* CITY HOTEL LIST */

.city_hotel_list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
    margin-bottom: 16px;
}

.city_hotel_list div {
    flex-basis: 25%;
}

/* POPULAR */

.hotel_list .popular_flex {
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .popular_flex {
        flex-direction: column;
    }
}

/* HOTEL CARD */

.hotel_card {
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    box-shadow: 0 0 10px;
    flex-grow: 1;
    flex-basis: 30%;
    min-width: 240px;
}

.hotel_card h3,
.hotel_card p,
.hotel_card div 
.popular_card_description h3,
.popular_card_description p,
.popular_card_description div {
    margin: 0.32px;
}
.hotel_card img {
    border-radius: 16px 16px 0 0;
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.blue {
    color: #0065fc;
}

.grey {
    color: #d9d9d9;
}

/* POPULAR CARD */

.popular {
    display: flex;
    flex-direction: column;
}

.popular_flex {
    flex-basis: 100%;
}

.popular h3 {
    display: flex;
    justify-content: space-between;
}

.popular h3,
.city h3 {
    margin-top: 8px;
}

.hotel_popular_card {
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    box-shadow: 0 0 10px;
    flex-grow: 1;
    display: flex;
    min-width: 240px;
    max-height: 140px;
    height: 25%;
    margin-bottom: 10%;
    width: 100%;
}

.hotel_popular_card img {
    border-radius: 16px 0 0 16px;
    height: auto;
    object-fit: cover;
    width: 40%;
    margin-right: 8px;
    max-height: 100%;
}

.popular_card_description {
    display: flex;
    flex-direction: column;
}

.hotel_popular_card .hotel_review_stars {
    margin-top: auto;
}

/* ACTIVITIES */

#activities {
    margin-top: 50px;
    margin-bottom: 50px;
}
.container_activities {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_activities2356 {
    width: 23%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    /* reglage box */

.box_activities {
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.box_activities:hover {
    cursor: pointer;
}
      
.box_activities2356 {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
      
}
      
.box_activities2356:hover {
    cursor: pointer;
}

      /* fin reglage box */

.title_activities {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
    height: 70px;
}
      
.img_activities_1 {
    object-fit: cover;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
      
}
      
.img_activities_2 {
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
      
}
      
.img_activities_3 {
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
      
}
      
.img_activities_4 {
    object-fit: cover;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
      
}
      
.img_activities_5 {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
      
}
      
.img_activities_6 {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
      
}

@media (max-width: 768px) {
    .title_activities{
        align-content: center;
    }
    .container_activities {
        flex-direction: column;
        height: 100%;
    }
    .box_activities {
        width: 100%;
        height: 50%;
    }
    .container_activities {
        width: 100%;
        height: 50%;
    }
    .container_activities2356 {
        width: 100%;
        height: 50%;
    }
    .img_activities_1, .img_activities_3, .img_activities_4, .img_activities_5, .img_activities_6 {
        width: 100%;
        height: max-content;
    }
    .img_activities_2 {
        width: 100%;
    }
}

/* FOOTER */

footer {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: smaller;
    padding: 16px;
}
.footer_ctn {
    width: 85%;
}
.footer_menu {
    list-style-type: none;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }
}
